/* Cole McLain's CIS195 CSS for Lab3 */
/* Obnoxious Lime Green for testing -- border: 1px solid #0f0; */
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

.clr{
	clear:both;
}

a{
	padding: 5px;
	transition: all 0.5s ease-in-out;
	width: 200px;
	margin: 0 auto;
}

a:hover{
	background-color: red;
	font-size: 32px;
	font-weight: bold;
	font-family: "Agdasima", sans-serif;
	border-radius: 10px;
	padding: 10px;
	color: black;
}
a:focus{
	background-color: black;
	color: orange;
	position: relative;
	top: 20px;
}

body{
	color: #ff67a2;
	background-color: #000;
}

header{
	background-color: grey;
	border-radius: 20px;
	padding: 5px;
	margin: 20px;
}

h1{
	border: 8px solid green;
	color: blue;
	background-color: greenyellow;
	font-family: cursive, serif;
	font-size: 64px;
	letter-spacing: 7px;
	word-spacing: 10px;
	text-align: center;
	padding: 10px;
	margin: 20px;

}

h2{
	color: pink;
	font-family: "LucidaConsole", CourierNew, monospace;
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-align: center;
	border: 6px dotted blue;
	padding: 10px;
	margin: 2% 15%;
}

h3{
	width: 30%;
	margin: 20px;
	padding: 5px;
	border: 4px double #32CD32;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(0, 50, 100);
	color: #ff007f;
}

nav{
	border: 1px solid #000;
	text-align: center;
	background-color: lightgrey;
	font-family: "OCR A Std", monospace;
	padding: 1%;
	margin: 2%;
	border-radius: 20px;
}

p{
	width: 50%;
	margin: 20px;
	border: 15px solid #32CD32;
	border-radius: 15px;
	color: rgb(255,100,255);
	padding: 10px;
	background-color: rgb(20,20,20);

}

hr{
	
}

main{

}

article{
	
}

aside{
	position: absolute;
	left: 60%;
	width: 40%;
	float:right;
}

blockquote{

}

table{
	
}

tr{
	
}

th{
	
}

td{
	
}

ol{
	background-color: #f03117;
	padding: 30px;
	margin: 20px;
	border-radius: 5px;
	color: cyan;
	border: 5px inset gray;
}

ol li{
	background-color: pink;
	color: green;
	font-family: "Courier New", monospace;
	font-weight: bold;
	padding: 2px;
	margin: 10px;

}

ul{
	background-color: #aa0022;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	border: 2px outset grey;
}


ul li{
	background-color:pink;
	color: green;
	padding: 10px;
	margin-left: 10px;
	border: 2px outset black;
}

dl{
	background-color: purple;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
	border: 5px inset grey;
}

dt{
	background-color: #003377;
	color: black;
	border-radius: 5px;
	border: 2px outset grey;
	padding-left: 5px;
}

dd{
	width: 90%;
	background-color: #222222;
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
}

details{
	
}

summary{
	
}

.main-content{
	float: left;
	width: 100%;
}

.exciting-header{
	color: #F00000;
	background-color: #000051;
	width: 50%;
	height: 50px;
	border: 20px groove pink;
	position: relative;
	left: 25%;
	font-family: 'Brush Script MT', cursive;
	font-size: 50px;
}

footer{
	text-align: center;
	margin: 20px;
	border: 5px #0011ff solid;
	padding: 5px;
	background-color: rgb(0, 10, 50)

}

address{
	
}
