/* Cole McLain's CIS195 CSS for Lab3 */

@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tiny5&display=swap");

@media screen{

.clr{
	clear:both;
}

a{
	padding: 15px;
	transition: all 0.2s ease-in-out;
	font-family: "Agdasima", sans-serif;
	font-size: 24px;
	width: 200px;
	margin: 0 auto;
}

a:hover{
	background-color: red;
	font-size: 28px;
	font-weight: bold;
	font-family: "Tiny5", sans-serif;
	border-radius: 10px;
	padding: 10px;
	color: black;
}
a:focus{
	background-color: black;
	color: orange;
	position: relative;
	top: 20px;
}

body{
	color: #ff67a2;
	background-color: #000;
}

header{
	background-color: grey;
	border-radius: 20px;
	padding: 5px;
	margin: 20px;
}

h1{
	border: 8px solid green;
	color: blue;
	background-color: greenyellow;
	font-family: cursive, serif;
	font-size: 64px;
	letter-spacing: 7px;
	word-spacing: 10px;
	text-align: center;
	padding: 10px;
	margin: 20px;

}

h2{
	color: pink;
	font-family: "LucidaConsole", CourierNew, monospace;
	font-size: 24px;
	letter-spacing: 1px;
	word-spacing: 3px;
	text-align: center;
	border: 6px dotted blue;
	padding: 10px;
	margin: 2% 15%;
}

h3{
	width: 30%;
	margin: 20px;
	padding: 5px;
	border: 4px double #32CD32;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(0, 50, 100);
	color: #ff007f;
}

nav{
	border: 1px solid #000;
	text-align: center;
	background-color: lightgrey;
	font-family: "OCR A Std", monospace;
	padding: 1%;
	margin: 2%;
	border-radius: 20px;
}

p{
	width: 50%;
	margin: 20px;
	border: 15px solid #32CD32;
	border-radius: 15px;
	color: #aaffff;
	padding: 10px;
	background-color: rgb(20,20,20);
	opacity: 70%;

}

hr{
	
}

article{
	
}

aside{
	position: absolute;
	left: 60%;
	width: 40%;
	float:right;
}

blockquote{

}

table{
	
}

tr{
	
}

th{
	
}

td{
	
}

ol{
	background-color: #f03117;
	padding: 30px;
	margin: 20px;
	border-radius: 5px;
	color: cyan;
	border: 5px inset gray;
}

ol li{
	background-color: pink;
	color: green;
	font-family: "Courier New", monospace;
	font-weight: bold;
	padding: 2px;
	margin: 10px;

}

ul{
	background-color: #aa0022;
	padding: 20px;
	margin: 10px;
	border-radius: 5px;
	border: 2px outset grey;
}


ul li{
	background-color:pink;
	color: green;
	padding: 10px;
	margin-left: 10px;
	border: 2px outset black;
}

dl{
	background-color: purple;
	padding: 10px;
	margin: 20px;
	border-radius: 5px;
	border: 5px inset grey;
}

dt{
	background-color: #003377;
	color: black;
	border-radius: 5px;
	border: 2px outset grey;
	padding-left: 5px;
}

dd{
	width: 90%;
	background-color: #222222;
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Brush Script MT", cursive;
	font-size: 24px;
}

details{
	padding: 10px;
	margin: 10px;
	transition: all 0.3s ease-in-out;
	width: 50%;
}

details > summary{
	transition: all 0.3s ease-in-out;
	box-shadow: 1px 1px 2px #000000;
	background-color: #551155;
}
details[open] summary ~ *{
	animation: sweep 0.5s ease-in-out;
	height: 100%;
}

details > p{
	width: 100%;
	opacity: 1;
}

@keyframes sweep{
	0% {opacity: 0; margin-left: -10px;max-height: 1px;}
	100% {opacity: 1; margin-left: 0px;max-height: 500px;}
}
summary:hover{
	background-color: #dd4040;
	font-family: "Agdasima", sans-sarif;
	font-size: 32px;
}

.main-content{
	float: left;
	width: 100%;
	background-image: url("images/JesusOnABike.png");
	background-size: 512px 512px;
	border-radius: 5px;
	/* background-repeat: no-repeat; */
}

.exciting-header{
	color: #F00000;
	background-color: #000051;
	width: 50%;
	height: 50px;
	border: 20px groove pink;
	position: relative;
	left: 25%;
	font-family: 'Brush Script MT', cursive;
	font-size: 50px;
}

footer{
	text-align: center;
	margin: 20px;
	border: 5px #0011ff solid;
	padding: 5px;
	background-color: rgb(0, 10, 50)

}

address{
	
}

#wrapper{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 2000px;
	min-width: 500px;
	border: 1px solid #000;
	background-color: purple;
}

#style-gintoki{
	float: right;
	opacity: 100%; /* Why doesn't this override? */
	padding: 5px;
	border-radius: 10px;
}

/*#jesus-background{
	border-radius: 15px;
	padding: 10px;
	margin: 10px;
}*/

#style-totoro{
	float: left;
	opacity: 0%;
	padding: 10px;
	position: relative;
	border-radius: 15px;
	/* top: 50px; */
	transition: all 0.5s ease-in-out;
	width: 5%;
}

#style-totoro:hover{
	opacity: 100%;
	width: 25%;
}

#style-descent{
	position: relative;
	left: 25%;
	width: 40%;
	height: 50%;
	margin: 10px;
	border-radius: 15px;
}

#style-flowers{
	position: relative;
	left: 40%;
	width: 10%;
	height: 20%;
	margin: 10px;
	border-radius: 15px;
}
}

@media print{
	#style-totoro{
		height: 200px;
		width: 350px;
	}

	#style-descent{
		height: 300px;
		width: 500px;
	}

	#style-flowers{
		height: 300px;
		width: 300px;
	}

	details{

	}

}
