@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@media screen{

    body{
        background-color: black;
        font-family: "Josefin Sans", sans;
        margin: 10px;
        padding-left: 5px;
    }

    header{
        border: 10px solid green;
        border-radius: 10px;
        background-color: blue;
    }

    main{
        color: white;
    }

    h3{
        width: 50%;
        font-size: 24px;
        border-bottom: 4px inset hotpink;
        padding: 5px;
    }

    h4{
        width: 20%;
        border-bottom: 3px solid darkred;
    }

    a{
        color: orange;
        transition: all 0.3s ease-in-out;
    }

    a:hover{
        font-size: 24px;
        background-color: #303030;
    }

    a:visited{
        color: #404040;
    }
}

@media print{
    body{
        font-family: sans;
        margin: 10px;
        padding-left: 5px;
    }

    header{
        border: 10px solid green;
        border-radius: 10px;
    }

    h3{
        width: 66%;
        font-size: 24px;
        border-bottom: 4px inset hotpink;
        padding: 5px;
    }

    h4{
        width: 33%;
        border-bottom: 3px solid darkred;
    }


}

