/* Andrea Hirons's CS195 starting CSS for The Puppy Palace - Lab 6 */
/* Obnoxious Lime Green for testing -- border: 1px solid #0f0; */

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Rounded+1c&family=Tiny5&display=swap');

body {
	background-color: rgb(187, 96, 96);
	font-family: "M Plus Rounded 1c", "calibri", serif;
	margin: 0px;
}

header {

}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Agdasima", sans-serif;
}

nav {}

img {}

main {
	background-color: rgba(155, 95, 167, 0.973);
	padding: 5px;
	margin: auto;
}

article {}

aside {
	background-color: #fcf;
}

aside img {
	/* same code as img-left class, really should do one or the other */
}

footer {
	background-color: rgb(107, 112, 165);
	clear: both;
	border-top: 2px solid #f9f;
	margin: auto;
	padding: 5px;
	/* #909 med purple #303 dark purple */
}

address {}

table{
	width: 90%;
	position: relative;
	left: 25px;
	border: inset;
	border-color:rgb(117, 37, 0);
	padding: 2px;
	margin: 10px;
	border: 1px inset;
}

td{
	background-color: rgb(252, 121, 121);
	font-size: 11px;
	padding: 5px;
	border: 1px inset;
}

th{
	background-color: rgb(99, 0, 0);
	font-size: 13px;
	color: rgb(156, 156, 156);
	padding: 2px;
	border: 1px outset;
}
/* Table Styles */
/* table {

}

td {
	font-size: 11px;
	padding: 5px;
}

th {
	font-size: 13px;
} */

/* Links in rest of page */
/* 
a:link {color: blue;}
a:visited {color: pink;}
a:hover  {color: red;}
a:active, a:focus {color: yellow;}  */

#logo {
	display: flex;
	font-size: 24px;
	text-align: center;
	align-items: center;
	background-color: rgb(180, 28, 28);
	/* justify-content: center; */
}

#logo-text{

}
#logo-photo {
	/* display: flex row; */
	justify-content: left;
	padding: 10px;
	/* margin: auto; */
	width: 150px;
}

#topNav {
	background-color: rgb(245, 118, 87);
	border-top: 2px solid #f9f;
	border-bottom: 2px solid #f9f;
	padding-top: 5px;
	padding-bottom: 5px;
	/* #909 med purple #303 dark purple */
	text-align: center;
	line-height: 1.8em;
}

#topNav a:link {
	color: rgba(51, 0, 51, .7);
	border: 1px solid rgba(51, 0, 51, .7);
	background-color: rgba(51, 0, 51, .3);
	border-radius: 5px;
	padding: 2px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

#topNav a:visited{}

#topNav a:hover {
	background-color: rgba(20, 0, 20, .1);
}

#topNav a:active,
#topNav a:focus {
	background-color: rgba(20, 0, 20, 0.1);
	color: rgba(100, 0, 100, 0.8);
}

#sideNav {
	display: none;
	
}

input{

}

label{
	justify-self: left;
	width: 33%;	
}

#buyer-info{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.input-field{
	display: flex;
	flex-direction: row;
	margin: 5px;
	font-size: 14px;
}

.form-buttons{
	margin: 5px;
	width: 30%;
	height: 25px;
	background-color:rgb(59, 59, 59);
	color: rgb(255, 192, 192);
}

#first-name{
	width: 50%;
}

#last-name{
	width: 50%;
}

#level{
	width: 10%;
}

#evil{
	position: relative;
	left: 50%;
}

#alignment{
	display: flex;
	flex-direction: row;
	/* padding: 5px; */
	width: 50%;
	justify-content: space-around;
	/* font-size: 13px; */
}

#name{
	width: 50%;
}

#minion-info{
	width: 90%;
}

#alignment-evil{
	background-color: blue;
}

#instructions{
	width: 90%;
}

#instructions-textarea{
	width: 99%;
}

#age-verify{
	margin: 10px;
	font-weight: bold;
}

#image-bottom{
	display: flex;
	flex-direction: column;
}

#skellies{
	width: 100%;
	margin-bottom: 5px;
}

#undead{
	width: 100%;
	margin-bottom: 5px;
}

.washout {
	background-color: rgba(255, 255, 255, .5);
}

.rowHeader .img-left {
	float: left;
	margin-right: 5px;
}

.img-right {
	float: right;
}

h4.listHeader {}